<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>パスワードリセット</title>
</head>
<head>
  <meta charset="utf-8">
  <title>パスワード再設定</title>
</head>
<body>
  <h1>パスワード再設定</h1>
  <form method="POST" action="/password-reset/send-mail">
    <label>
      メールアドレス：
      <input type="email" name="email" required>
    </label>
    <br>
    <input type="submit" value="パスワードをリセット">
  </form>
</body>
</html>
