<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>パスワードリセット用メール送信完了</title>
</head>
<body>
  <p>パスワードリセット用リンクを以下のメールアドレスに送信しました</p>
  <p><%= email %></p>
</body>
</html>
